ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}

.tabs-content-text {
    display: none;
}

.tabs-content-text.active {
    display: block;
}

.btn {
    display: flex;
    margin: 0 auto;
    background-color: #23201D;
    color: #937341;
    padding: 20px 35px;
    border: none;
}

.tabs-title.black {
    background-color: #937341;
    color: #23201D;
}

.tabs-title.black.active {
    background-color: #23201D;
    color: #937341;
}

.tabs-content-text.black {
    color: #d9c6a7cc;
}

.btn.active {
    background-color: #937341;
    color: #23201D;
}